html {
    background-color: #e6e9e9;
}

body {
    margin: 0 auto;
    padding: 2em 2em 4em;
    max-width: 800px;
    font-family: "Helvetica Neue";
    font-size: 16px;
    line-height: 1.5em;
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    margin-bottom: 50px;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3em;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #545454;
    text-decoration: none;
}

b, strong {
    font-weight: 600;
}

div.headline {
    height: 3px;
    background-color: red;
}

div.logo {
    position: absolute;
    left; 0px;
    width: 100px;
}
div.signin {
    margin-left: 100px;
    text-align: right;
}

div.footer {
    position: absolute;
    bottom: 0;
    height: 50px;
}

.Grid {
    margin: 5px 0 10px 0; 
    border: solid 1px #525252; 
    border-collapse:collapse; 
    color: #474747;
    font-size: 14px;
    width: 100%;
}

.Grid td {
    padding: 5px; 
    border: solid 1px #c1c1c1;
}

.Grid th  {
    padding : 5px; 
    color: #fff; 
    background: #dddddd; 
    border-left: solid 1px #525252; 
}

.Grid .alt {
    background: #fcfcfc; 
}

.Grid .pgr {
    background: #363670; 
}

.Grid .pgr table { 
    margin: 3px 0;
}

.Grid .pgr td { 
    border-width: 0; 
    padding: 0 6px; 
    border-left: solid 1px #666; 
    font-weight: bold; 
    color: #fff; 
    line-height: 12px; 
}   

.Grid .pgr a { 
    color: Gray; 
    text-decoration: none; 
}

.Grid .pgr a:hover { 
    color: #000; 
    text-decoration: none; 
}