<?xml version="1.0"?>

<configuration>

    <connectionStrings>
        <add name="pauldleonardConnectionString1" connectionString="Data Source=pauldleonard.db.12215306.hostedresource.com;Initial Catalog=pauldleonard;Persist Security Info=True;User ID=pauldleonard;Password=Jere2911!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
